.vscode/
hostfile
__pycache__/
vci_job_*
lightning_logs/
outputs/
log/
uv.lock
tmp/
notebooks/
*.sif
competition/
competition_support_set/
local_*.sh
*outdir*
*.h5ad
competition_experiments/
cell-eval*/
old/
datasets/
wandb/
wandb_logs/
results/
*.ckpt
readable_training.log
*readable_training.log
.venv/
*.log
.*
assets/

#robin
slurm


#dan - so unstrukturiert schlimm schlimm :)
act_readable_training.log
amdgpu-install_6.4.60402-1_all.deb
amdgpu-install_6.4.60402-1_all.deb.1
amdgpu-install_6.4.60403-1_all.deb
amdgpu-install_6.4.60403-1_all.deb.1
readable_training.log